responseRoot = '/mockResponse/atd_adamMock'

AdamApiGwServiceSoapBinding {
    sa0010a {
        responseDir = '/AdamApiGwServiceSoapBinding/sa0010a'
        responseFile = '/sa0010a.xml'
    }

    sa0040a {
        responseDir = '/AdamApiGwServiceSoapBinding/sa0040a'
        responseFile = '/sa0040a.xml'
    }

    sb0030a {
        responseDir = '/AdamApiGwServiceSoapBinding/sb0030a'
        responseFile = '/sb0030a.xml'
    }

    sb0040a {
        responseDir = '/AdamApiGwServiceSoapBinding/sb0040a'
        responseFile = '/sb0040a.xml'
    }

    sb0050a {
        responseDir = '/AdamApiGwServiceSoapBinding/sb0050a'
        responseFile = '/sb0050a.xml'
    }

    sc0010a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0010a'
        responseFile = '/sc0010a.xml'
    }

    sc0020a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0020a'
        responseFile = '/sc0020a.xml'
    }

    sc0030a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0030a'
        responseFile = '/sc0030a.xml'
    }

    sc0040a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0040a'
        responseFile = '/sc0040a.xml'
    }

    sc0050a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0050a'
        responseFile = '/sc0050a.xml'
    }

    sc0080a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0080a'
        responseFile = '/sc0080a.xml'
    }

    sc0090a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0090a'
        responseFile = '/sc0090a.xml'
    }

    sc0100a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0100a'
        responseFile = '/sc0100a.xml'
    }

    sc0110a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0110a'
        responseFile = '/sc0110a.xml'
    }

    sc0120a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0120a'
        responseFile = '/sc0120a.xml'
    }

    sc0130a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0130a'
        responseFile = '/sc0130a.xml'
    }

    sc0140a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0140a'
        responseFile = '/sc0140a.xml'
    }

    sc0150a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0150a'
        responseFile = '/sc0150a.xml'
    }

    sc0180a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0180a'
        responseFile = '/sc0180a.xml'
    }

    sc0190a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0190a'
        responseFile = '/sc0190a.xml'
    }

    sc0240a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0240a'
        responseFile = '/sc0240a.xml'
    }

    sc0250a {
        responseDir = '/AdamApiGwServiceSoapBinding/sc0250a'
        responseFile = '/sc0250a.xml'
    }

    sd0010a {
        responseDir = '/AdamApiGwServiceSoapBinding/sd0010a'
        responseFile = '/sd0010a.xml'
    }

    sd0030a {
        responseDir = '/AdamApiGwServiceSoapBinding/sd0030a'
        responseFile = '/sd0030a.xml'
    }

    sd0050a {
        responseDir = '/AdamApiGwServiceSoapBinding/sd0050a'
        responseFile = '/sd0050a.xml'
    }

    sd0060a {
        responseDir = '/AdamApiGwServiceSoapBinding/sd0060a'
        responseFile = '/sd0060a.xml'
    }

    se0010a {
        responseDir = '/AdamApiGwServiceSoapBinding/se0010a'
        responseFile = '/se0010a.xml'
    }

    se0040a {
        responseDir = '/AdamApiGwServiceSoapBinding/se0040a'
        responseFile = '/se0040a.xml'
    }

    se0050a {
        responseDir = '/AdamApiGwServiceSoapBinding/se0050a'
        responseFile = '/se0050a.xml'
    }

    sf0020a {
        responseDir = '/AdamApiGwServiceSoapBinding/sf0020a'
        responseFile = '/sf0020a.xml'        
    }

    sf0050a {
        responseDir = '/AdamApiGwServiceSoapBinding/sf0050a'
        responseFile = '/sf0050a.xml'
    }

    sf0060a {
        responseDir = '/AdamApiGwServiceSoapBinding/sf0060a'
        responseFile = '/sf0060a.xml'
    }

    sg0010a {
        responseDir = '/AdamApiGwServiceSoapBinding/sg0010a'
        responseFile = '/sg0010a.xml'
    }

    sg0020a {
        responseDir = '/AdamApiGwServiceSoapBinding/sg0020a'
        responseFile = '/sg0020a.xml'
    }

    sg0030a {
        responseDir = '/AdamApiGwServiceSoapBinding/sg0030a'
        responseFile = '/sg0030a.xml'
    }

    sz0010a {
        responseDir = '/AdamApiGwServiceSoapBinding/sz0010a'
        responseFile = '/sz0010a.xml'
    }

    sz0020a {
        responseDir = '/AdamApiGwServiceSoapBinding/sz0020a'
        responseFile = '/sz0020a.xml'
    }

    sz0030a {
        responseDir = '/AdamApiGwServiceSoapBinding/sz0030a'
        responseFile = '/sz0030a.xml'
    }

}