responseRoot = '/mockResponse/atd_spookMock'
dp_options {
    responseDir = '/dp_options'
    responseFile = '/dp_options.json'
}
dp_hotels {
    responseDir = '/dp_hotels'
    responseFile = '/dp_hotels.json'
}
dp_flights {
    responseDir = '/dp_flights'
    responseFile = '/dp_flights.json'
}

dp_hotels {
    responseDir = '/dp_hotels'
    responseFile = '/dp_hotels.json'
}

dp_hotel_kodawari_count {
    responseDir = '/dp_hotel_kodawari_count'
    responseFile = '/dp_hotel_kodawari_count.json'
}

dp_hotel_plans {
    responseDir = '/dp_hotel_plans'
    responseFile = '/dp_hotel_plans.json'
}

dp_cart {
    responseDir = '/dp_cart'
    responseFile = '/dp_cart.json'
}

dp_mitchell {
    responseDir = '/dp_mitchell'
    responseFile = '/dp_mitchell.json'
}

dp_car_offices {
    responseDir = '/dp_car_offices'
    responseFile = '/dp_car_offices.json'
}

dp_car_office_classes {
    responseDir = '/dp_car_office_classes'
    responseFile = '/dp_car_office_classes.json'
}

dp_car_hotel_classes {
    responseDir = '/dp_car_hotel_classes'
    responseFile = '/dp_car_hotel_classes.json'
}

dp_car_allot_return {
    responseDir = '/dp_car_allot_return'
    responseFile = '/dp_car_allot_return.json'
}

dp_car_allot_return_embedded {
    responseDir = '/dp_car_allot_return_embedded'
    responseFile = '/dp_car_allot_return_embedded.json'
}

dp_car_plans_embedded {
    responseDir = '/dp_car_plans_embedded'
    responseFile = '/dp_car_plans_embedded.json'
}

dp_car_kodawari_count {
    responseDir = '/dp_car_kodawari_count'
    responseFile = '/dp_car_kodawari_count.json'
}

dp_car_allot_return_places {
    responseDir = '/dp_car_allot_return_places'
    responseFile = '/dp_car_allot_return_places.json'
}

dp_golfs {
    responseDir = '/dp_golfs'
    responseFile = '/dp_golfs.json'
}

dp_ikyu_hotel_plan_front {
    responseDir = '/dp_ikyu_hotel_plan_front'
    responseFile = '/dp_ikyu_hotel_plan_front.json'
}

dp_ikyu_hotel_vacant_front {
    responseDir = '/dp_ikyu_hotel_vacant_front'
    responseFile = '/dp_ikyu_hotel_vacant_front.json'
}

tour_tours {
    responseDir = '/tour_tours'
    responseFile = '/tour_tours.json'
}

tour_tour_kodawari_count {
    responseDir = '/tour_tour_kodawari_count'
    responseFile = '/tour_tour_kodawari_count.json'
}

tour_direct_flights {
    responseDir = '/tour_direct_flights'
    responseFile = '/tour_direct_flights.json'
}

tour_tour_detail {
    responseDir = '/tour_tour_detail'
    responseFile = '/tour_tour_detail.json'
}

tour_tour_detail_amount {
    responseDir = '/tour_tour_detail_amount'
    responseFile = '/tour_tour_detail_amount.json'
}

tour_available_hotels {
    responseDir = '/tour_available_hotels'
    responseFile = '/tour_available_hotels.json'
}

tour_hotels {
    responseDir = '/tour_hotels'
    responseFile = '/tour_hotels.json'
}

tour_hotel_plans {
    responseDir = '/tour_hotel_plans'
    responseFile = '/tour_hotel_plans.json'
}

tour_hotel_kodawari_count {
    responseDir = '/tour_hotel_kodawari_count'
    responseFile = '/tour_hotel_kodawari_count.json'
}

tour_hotel_keyword_suggest {
    responseDir = '/tour_hotel_keyword_suggest'
    responseFile = '/tour_hotel_keyword_suggest.json'
}

tour_flights {
    responseDir = '/tour_flights'
    responseFile = '/tour_flights.json'
}

tour_option_kind {
    responseDir = '/tour_option_kind'
    responseFile = '/tour_option_kind.json'
}

tour_options {
    responseDir = '/tour_options'
    responseFile = '/tour_options.json'
}

tour_cart {
    responseDir = '/tour_cart'
    responseFile = '/tour_cart.json'
}

crosssearch_direction {
    responseDir = '/crosssearch_direction'
    responseFile = '/crosssearch_direction.json'
}

crosssearch_region {
    responseDir = '/crosssearch_region'
    responseFile = '/crosssearch_region.json'
}

crosssearch_price_calendar {
    responseDir = '/crosssearch_price_calendar'
    responseFile = '/crosssearch_price_calendar.json'
}

crosssearch_hotels {
    responseDir = '/crosssearch_hotels'
    responseFile = '/crosssearch_hotels.json'
}

crosssearch_flights {
    responseDir = '/crosssearch_flights'
    responseFile = '/crosssearch_flights.json'
}

crosssearch_hotel_keyword_suggest {
    responseDir = '/crosssearch_hotel_keyword_suggest'
    responseFile = '/crosssearch_hotel_keyword_suggest.json'
}

crosssearch_hotel_plans {
    responseDir = '/crosssearch_hotel_plans'
    responseFile = '/crosssearch_hotel_plans.json'
}

bulk_hotels {
    responseDir = '/bulk_hotels'
    responseFile = '/bulk_hotels.json'
}

bulk_hotel_kodawari_count {
    responseDir = '/bulk_hotel_kodawari_count'
    responseFile = '/bulk_hotel_kodawari_count.json'
}

bulk_hotel_keyword_suggest {
    responseDir = '/bulk_hotel_keyword_suggest'
    responseFile = '/bulk_hotel_keyword_suggest.json'
}

bulk_hotel_plans {
    responseDir = '/bulk_hotel_plans'
    responseFile = '/bulk_hotel_plans.json'
}

bulk_plan_info {
    responseDir = '/bulk_plan_info'
    responseFile = '/bulk_plan_info.json'
}

single_car_offices {
    responseDir = '/single_car_offices'
    responseFile = '/single_car_offices.json'
}

single_car_kodawari_count {
    responseDir = '/single_car_kodawari_count'
    responseFile = '/single_car_kodawari_count.json'
}

single_car_classes {
    responseDir = '/single_car_classes'
    responseFile = '/single_car_classes.json'
}

single_car_allot_return {
    responseDir = '/single_car_allot_return'
    responseFile = '/single_car_allot_return.json'
}

single_car_office_classes {
    responseDir = '/single_car_office_classes'
    responseFile = '/single_car_office_classes.json'
}

single_hotels {
    responseDir = '/single_hotels'
    responseFile = '/single_hotels.json'
}

single_hotel_kodawari_count {
    responseDir = '/single_hotel_kodawari_count'
    responseFile = '/single_hotel_kodawari_count.json'
}

single_hotel_keyword_suggest {
    responseDir = '/single_hotel_keyword_suggest'
    responseFile = '/single_hotel_keyword_suggest.json'
}

single_hotel_plans {
    responseDir = '/single_hotel_plans'
    responseFile = '/single_hotel_plans.json'
}

single_option_region {
    responseDir = '/single_option_region'
    responseFile = '/single_option_region.json'
}

single_cart {
    responseDir = '/single_cart'
    responseFile = '/single_cart.json'
}

common_hotel_plan_calendar {
    responseDir = '/common_hotel_plan_calendar'
    responseFile = '/common_hotel_plan_calendar.json'
}

common_hotel_detail {
    responseDir = '/common_hotel_detail'
    responseFile = '/common_hotel_detail.json'
}

common_golf_detail {
    responseDir = '/common_golf_detail'
    responseFile = '/common_golf_detail.json'
}

common_option_calendar {
    responseDir = '/common_option_calendar'
    responseFile = '/common_option_calendar.json'
}

common_option_calendar_init {
    responseDir = '/common_option_calendar_init'
    responseFile = '/common_option_calendar_init.json'
}

common_master {
    responseDir = '/common_master'
    responseFile = '/common_master.json'
}

common_access_count {
    responseDir = '/common_access_count'
    responseFile = '/common_access_count.json'
}

common_tieup_site {
    responseDir = '/common_tieup_site'
    responseFile = '/common_tieup_site.json'
}

common_tripadvisor {
    responseDir = '/common_tripadvisor'
    responseFile = '/common_tripadvisor.json'
}
common_additional_info {
    responseDir = '/common_additional_info'
    responseFile = '/common_additional_info.json'
}
dp_hotel_keyword_suggest {
    responseDir = '/dp_hotel_keyword_suggest'
    responseFile = '/dp_hotel_keyword_suggest.json'
}
